@page "/Start1"
@using Microsoft.AspNetCore.Components

<div class="login-box">
    <div class="login-header">Login or Sign Up</div>
    <div class="login-description">
        Log in or create an account to play games, participate in challenges, and more.
    </div>
    <div class="button login-button" @onclick="NavigateToLogin">Login</div>
    <div class="button signup-button" @onclick="NavigateToSignup">Create an account</div>
    <div class="button later-button" @onclick="NavigateToStart">Later</div>
</div>

@code {
    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/Login");
    }

    private void NavigateToSignup()
    {
        Navigation.NavigateTo("/Signup");
    }

    private void NavigateToStart()
    {
        Navigation.NavigateTo("/");
    }
}
