@page "/login_page"
@using Microsoft.AspNetCore.Components

<div class="login-container" style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100vw;">
    <div class="login-box">
        <div class="input-container">
            <span class="input-icon">👤</span>

            <input type="text" id="username" placeholder="Your username" @bind="username" />
        </div>

        <label for="password">Password</label>
        <div class="input-container">
            <span class="input-icon">🔒</span>
            <input type="@passwordInputType" id="password" placeholder="Your password" @bind="password" />
            <span class="show-password" @onclick="TogglePasswordVisibility" style="cursor: pointer;">👁</span>
        </div>

        <div class="remember-me-container">
            <input type="checkbox" id="remember" @bind="rememberMe"/>
            <label for="remember">Remember me</label>
        </div>

         <button class="login-button" @onclick="NavigateToHandleLogin">Login</button>

        <div class="forgot-password">
            <a href="javascript:void(0);">Forgot password?</a>
        </div>

    </div>
</div>

